<form class="product-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <select matNativeControl formControlName="category">
      <option [ngValue]="1">Category 1</option>
      <option [ngValue]="2">Category 2</option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea  matInput formControlName="description"></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit">Submit</button>
</form>
